
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Ignore NPM debug log
npm-debug.log

# Ignore Quickstart launches in the source tree
license.properties

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore compilation results
/target
/frontend/target
/dist
/frontend/dist
/frontend/node_modules
/frontend/reports
/frontend/bower
/frontend/app/bower_components/

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
*.rej
.DS_Store
*.sublime-workspace
.tmp
