<div ng-switch="link.isLinkingSuccessful" class="pc-alert">
		<div ng-switch-when="success" class="alert alert-success">
			<span><strong>{{link.errorMessage}}</strong></span>
		</div>
		<div ng-switch-when="error" class="alert alert-danger">
			<span><strong>{{link.errorMessage}}</strong></span>
		</div>
</div>
<div class="panel-group custom-accordion" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" ng-click="link.expandPanel()">
        Industry - Deck Linking</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
    	<div class="panel-body">
	      	<form name="link.formLinkDeck" ng-submit="link.formLinkDeck.$valid && link.linkDeck()" novalidate>
				<div class="form-group">
					<label for="industryPanel1" class="form-label">Industry: </label>
					<select class="form-control" name="industryPanel1" ng-model="link.industryPanel1" ng-options="industry for industry in link.industries" required>
						<option value="" disabled>-- Choose Industry --</option>
					</select>
					<span class="error-message" ng-show="link.showError('formLinkDeck','industryPanel1')">Please select the industry</span>
				</div>
				<div class="form-group">
					<label for="deckPanel1" class="form-label">Deck: </label>
					<select class="form-control" name="deckPanel1" ng-model="link.deckPanel1" ng-options="deck.name for deck in link.decks" required>
						<option value="" disabled>-- Choose Deck --</option>
					</select>
					<span class="error-message" ng-show="link.showError('formLinkDeck','deckPanel1')">Please select the deck</span>
				</div>
				<button type="submit" class="btn btn-primary">Link</button>
			</form>
		</div>
	</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" ng-click="link.expandPanel()">
				Deck - Section Linking</a>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
				<form name="link.formLinkSection" ng-submit="link.formLinkSection.$valid && link.onDeckSectionSubmit()" novalidate>
					<div class="form-group">
						<label for="deckPanel2" class="form-label">Deck: </label>
						<select class="form-control" name="deckPanel2" ng-model="link.deckPanel2" ng-options="deck.name for deck in link.decks" required>
							<option value="">-- Choose Deck --</option>
						</select>
						<span class="error-message" ng-show="link.showError('formLinkSection','deckPanel2')">Please select the deck</span>
					</div>
					<div class="form-group">
						<label for="sectionPanel2" class="form-label">Section: </label>
						<select class="form-control" name="sectionPanel2" ng-model="link.sectionPanel2" ng-options="section.title for section in link.sections" required>
							<option value="">-- Choose Section --</option>
						</select>
						<span class="error-message" ng-show="link.showError('formLinkSection','sectionPanel2')">Please select the section</span>
					</div>
					<div class="form-group">
						<label for="sequencePanel2" class="form-label">Sequence:</label>
						<input type="text" class="form-control" name="sequencePanel2" required ng-model="link.sectionSequence" placeholder="Please enter the sequence of the section">
						<span class="error-message" ng-show="link.showError('formLinkSection', 'sequencePanel2')">Please enter the sequence of the section</span>
					</div>
					<button type="submit" class="btn btn-primary">Link</button>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" ng-click="link.expandPanel()">
				Section - Slide Linking</a>
			</h4>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="panel-body">
				<form name="link.formLinkSlide" ng-submit="link.formLinkSlide.$valid && link.onSectionSlideSubmit()" novalidate>
					<div class="form-group">
						<label for="sectionPanel3" class="form-label">Section: </label>
						<select class="form-control" name="sectionPanel3" ng-model="link.sectionPanel3" ng-options="section.title for section in link.sections" required>
							<option value="">-- Choose Section --</option>
						</select>
						<span class="error-message" ng-show="link.showError('formLinkSlide','sectionPanel3')">Please select the section</span>
					</div>
					<div class="form-group">
						<label for="slidePanel3" class="form-label">Slide: </label>
						<select class="form-control" name="slidePanel3" ng-model="link.slidePanel3" ng-options="slide.title for slide in link.slides" required>
							<option value="">-- Choose Slide --</option>
						</select>
						<span class="error-message" ng-show="link.showError('formLinkSlide','slidePanel3')">Please select the slide</span>
					</div>
					<div class="form-group">
						<label for="sequencePanel3" class="form-label">Sequence:</label>
						<input type="text" class="form-control" name="sequencePanel3" required ng-model="link.slideSequence" placeholder="Please enter the sequence of the slide">
						<span class="error-message" ng-show="link.showError('formLinkSlide', 'sequencePanel3')">Please enter the sequence of the slide</span>
					</div>
					<button type="submit" class="btn btn-primary">Link</button>
				</form>
			</div>
 		</div>
  </div>
</div>
