<form name="view.formGetDecks" ng-submit="view.getDeckList()" novalidate>
	<div class="form-group">
		<label for="industry" class="form-label">Industry: </label>
		<select class="form-control" name="industry" ng-model="view.industry" ng-options="industry for industry in view.industries" required>
			<option value="" disabled>-- Choose Industry --</option>
		</select>
	</div>
	
	<button type="submit" id="viewButton" class="btn btn-primary">Submit</button>
</form>
<div class="lists">
	<div class="deck-list list-group col-md-4">
		<a data-target="#" href="javascript:;" class="list-group-item active disabled">
			Deck
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item ">
			Cras justo odio
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Morbi leo risus</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
	</div>

	<div class=" section-list list-group col-md-4">
		<a data-target="#" href="javascript:;" class="list-group-item active disabled">
			Section
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item ">
			Cras justo odio
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Morbi leo risus</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
	</div>
	<div class="slide-list list-group col-md-4">
		<a data-target="#" href="javascript:;" class="list-group-item active disabled">
			Slide
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item ">
			Cras justo odio
		</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Morbi leo risus</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
		<a data-target="#" href="javascript:;" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
	</div>
</div>

<style>
.lists{
	margin-top: 20px;
}
</style>