<form name="view.formGetDecks" ng-submit="view.getDeckList()" novalidate>
	<div class="form-group">
		<label for="industry" class="form-label">Industry: </label>
		<select class="form-control" name="industry" ng-model="view.industry" ng-options="industry.name for industry in view.industries" required>
			<option value="" disabled>-- Choose Industry --</option>
		</select>
		<span class="error-message" ng-show="view.showError('formGetDecks', 'industry')">Please select the industry</span>
	</div>

	<button type="submit" id="viewButton" class="btn btn-primary">Submit</button>
</form>
<div class="view-list clearfix">
	<div class="deck-list list-group col-md-4" ng-show="view.showDeckList">
		<div class="list-group-item active disabled">Deck</div>
		<div class="view-list-items" ng-repeat="deckItem in view.decksByIndustry">
			<a data-target="#" href="javascript:;" class="list-group-item view-list-name" ng-click="view.showSection(deckItem._id)">{{deckItem.title}}</a>
			<a data-target="#editformContainer" href="javascript:;" ng-click="view.showEditForm('deck', deckItem)"><span class="glyphicon glyphicon-pencil"></span></a>
		</div>
	</div>

	<div class=" section-list list-group col-md-4" ng-show="view.showSectionList">
		<div class="list-group-item active disabled">Section</div>
		<div class="view-list-items" ng-repeat="sectionItem in view.sectionsByDeck">
			<a data-target="#" href="javascript:;" class="list-group-item view-list-name" ng-click="view.showSlide(sectionItem)">{{sectionItem.title}}</a>
			<a data-target="#editformContainer" href="javascript:;" ng-click="view.showEditForm('section',sectionItem)"><span class="glyphicon glyphicon-pencil"></span></a>
		</div>
	</div>
	<div class="slide-list list-group col-md-4" ng-show="view.showSlideList">
		<div class="list-group-item active disabled">Slide</div>
		<div class="view-list-items" ng-repeat="slideItem in view.slidesBySection">
			<a data-target="#" href="javascript:;" class="list-group-item view-list-name" >{{slideItem.title}}</a>
			<a data-target="#editformContainer" href="javascript:;" ng-click="view.showEditForm('slide', slideItem)"><span class="glyphicon glyphicon-pencil"></span></a>
		</div>
	</div>
</div>

<div id="editformContainer">
	<new-deck id="deckEditForm" ng-if="view.displayForm.deck" action="update" deck-data="view.editData"></new-deck>
	<new-section id="sectionEditForm" ng-if="view.displayForm.section" action="update" section-data="view.editData"></new-section>
	<new-slide id="slideEditForm" ng-if="view.displayForm.slide" action="update" slide-data="view.editData"></new-slide>
<div>