<div class="tab-pane">
	<div ng-switch="deck.isDeckCreated" class="pc-alert">
		<div ng-switch-when="success" class="alert alert-success">
			<strong>Success!</strong> Deck is successfully created.
		</div>
		<div ng-switch-when="error" class="alert alert-danger">
			<strong>Sorry!</strong> Deck could not be created. Please try again later!!
		</div>
	</div>
	<form name="deck.formCreateDeck" ng-submit="deck.formCreateDeck.$valid && deck.submitDeck()" novalidate>
		<div ng-if="deck.action === 'create'">
			<div class="form-group">
				<label for="deckName" class="form-label">Deck Name:</label>
				<input type="text" class="form-control" name="deckName" required ng-model="deck.name" placeholder="Please enter deck name">
				<span class="error-message" ng-show="deck.showError('deckName')">Please enter the deck name</span>
			</div>
			<div class="form-group">
				<label for="industry" class="form-label">Industry: </label>
				<select class="form-control" name="industry" ng-model="deck.industry">
					<option ng-repeat="industry in deck.industries track by $index" value="{{industry}}">{{industry}}</option>
				</select>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>