/* app css stylesheet */
body {
	height: 100%;
	background-color: #00B4FF;
	background: linear-gradient(to bottom, #00B4FF 0, #1A5199 100%);
}

.main.container {
	width: 60%;
	min-height: 100vh;
	padding: 0;
	background: #fff;
}

.content.container-fluid {
	margin: 0 20px 20px;
}

.custom-nav li{
	background: #E1EEF8;
}

.custom-nav li a:hover {
	background: #c1dcf0;
}

.error-message {
	font-size: 12px;
	color: red;
}

.ng-submitted .form-control.ng-empty.ng-invalid.ng-invalid-required {
	border-color: red;
}

.tab-content {
	padding: 20px 0;
}

.custom-accordion .panel-heading {
	padding: 0;
}

.custom-accordion .panel-heading a {
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	background: #E1EEF8;
	color: #428bca;
}

.custom-accordion .panel-heading a:hover {
	background-color: #c1dcf0;
	color: #2a6496;
}
