<div class="tab-pane">
	<form>
		<div class="form-group">
			<label for="deckTitle" class="form-label">Deck Title :</label>
			<input type="text" class="form-control" id="deckTitle" >
		</div>
		<div class="form-group">
			<label for="industry" class="col-2 col-form-label">Industry : </label>
			<select class="form-control" id="industry">
			  <option value="tmt" selected>TMT</option>
			  <option value="others">Others</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>